create or replace function public.notify_task_owner_of_application()
returns trigger language plpgsql security definer set search_path = public as \\$\$
declare 
  owner_id uuid;
  task_title text;
  applicant_name text;
begin
  select posted_by, title into owner_id, task_title from public.tasks where id = new.task_id;
  select full_name into applicant_name from public.profiles where id = new.applicant_id;
  insert into public.notifications (recipient_id, type, title, body, link) 
  values (
    owner_id, 
    'application', 
    'New application: ' || coalesce(task_title, 'Task'), 
    coalesce(applicant_name, 'A member') || ' applied to your task.', 
    '/tasks'
  );
  return new;
end;
\$\$;
