alter table public.tasks add column if not exists payment_receipt_url text;
create or replace function public.client_confirm_payment_with_receipt(target_task_id uuid, receipt_url text)
returns void language plpgsql security definer set search_path = public as $$
declare
  rec record;
begin
  select id, posted_by, status into rec from public.tasks where id = target_task_id for update;
  if rec.id is null then raise exception 'Task not found'; end if;
  if rec.posted_by is distinct from auth.uid() then raise exception 'Only the client can confirm'; end if;
  update public.tasks set payment_status = 'paid', payment_receipt_url = receipt_url where id = target_task_id;
  if rec.status = 'pending_client_review' then update public.tasks set status = 'completed', completed_at = now() where id = target_task_id; end if;
end;
$$;
